<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->

<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: center; position: absolute; right: 20px;color: #000000ff;">
        Mohammad Idrees Bhat<br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #000000ff;">Tech Skills Trainer | AI/ML Consultant</span>
    </div>
</div>

<h1 style=" background-color: #002147; color: White; padding: 30px; text-align:center"> Python Libraries 2 - Pandas</h1>

<div style="background-color: lightgreen; color: black; padding: 10px;">
    <h1> 
</h1> </div>

<div style="background-color: grey; color: black; padding: 10px;">
    <h4><b>AGENDA</b> <p><p>
1. Pandas <p><p> 
2. Pandas core objects – Series and DataFrame <p>
3. Handling Data with Pandas <p>
4. Filtering, Aggregation and Grouping <p>

</h4> </div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>1. Pandas 
</h4> </div>

- **Pandas** is a Python library that provides powerful data structures like Series and **DataFrame** to store and manipulate structured data efficiently.

- It allows you to work with structured data (like Excel spreadsheets) programmatically

- Nearly all data science and machine learning projects use pandas for data preparation

- It lets you clean, explore, and transform data before building ML models

- Think of pandas as Excel inside Python, but much more powerful.

- You can:

    - Read data from files (CSV, Excel, etc.).
    
    - Select rows and columns.
    
    - Filter, sort, and group data.
    
    - Handle missing values.
    
    - Prepare data for machine learning.

In [3]:
# First step: importing pandas

import pandas as pd  # 'pd' is the common short name used by almost everyone

# Create a tiny example table (DataFrame) to see pandas in action
data = {
    "Student": ["Aman", "Sara", "John", "Priya"],
    "Math": [85, 90, 78, 92],
    "English": [88, 92, 80, 95]
}

df = pd.DataFrame(data)

print("This is a pandas DataFrame:")
print(df)
df

This is a pandas DataFrame:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
3   Priya    92       95

  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
3   Priya    92       95

In [4]:
# Example skills:
print("First few rows:")
print(df.head())          # exploring

print("\nAverage Math marks:")
print(df["Math"].mean())  # aggregation

First few rows:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
3   Priya    92       95

Average Math marks:
86.25

#### Prerequisites

- You should already know a little bit of:

- Basic Python: variables, lists, and dictionaries.

- How to run code in a Jupyter Notebook.

- Very basic understanding of what a CSV or table is.

In [3]:
# Quick reminder example: Python list and dictionary

# A simple list
numbers = [10, 20, 30]

# A simple dictionary
student = {
    "name": "Aman",
    "age": 16,
    "grade": "10th"
}

print(numbers)
print(student)

[10, 20, 30]
{'name': 'Aman', 'age': 16, 'grade': '10th'}

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4> Big picture: pandas in AI, ML, and Data Science
</h4> </div>

- In a typical data science or ML workflow, pandas is used in the data preparation and exploration steps.

- Before training any machine learning model, you must:

    1. Load the data.

    2. Clean it (fix errors, missing values).

    3. Explore it (understand ranges, averages, categories).

    4. Transform it into a format that a model can understand.

> Let's cover the core concepts first and then move to these parts

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>2. pandas core concepts
</h4> </div>

### Core objects – Series and DataFrame

- A Series is a one-dimensional labeled array (like a single column).
    - Series = one column from an Excel sheet.

- A DataFrame is a two-dimensional table made of multiple Series sharing the same index.
    - DataFrame = the full sheet with many columns and rows.

> You will mostly work with **DataFrames**, but **Series** is useful to understand because:

> each column in a DataFrame is actually a Series

In [ ]:
import pandas as pd

# Creating a Series (one-dimensional)
marks_series = pd.Series([85, 90, 78], name="Math")

print("Series example:")
print(marks_series)
print("Type:", type(marks_series))

print("\n---\n")

# Creating a DataFrame (two-dimensional)
data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}

df = pd.DataFrame(data)
print("DataFrame example:")
df
print("Type:", type(df))

Series example:
0    85
1    90
2    78
Name: Math, dtype: int64
Type: <class 'pandas.core.series.Series'>

---

In [11]:
df

  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

#### Mini-Activity:

> 1. Create a `pd.Series` with 5 temperature values and print it.

> 2. Create a pd.DataFrame with columns "`City`" and "`Temperature`" for 3 cities.

> 3. Check the `type()` of each object you created.

> 4. Add a name to your Series and print it again.

In [13]:
temp_series = pd.Series([45,57,78,89,98], name='temp')
type(temp_series)
temp_series

0    45
1    57
2    78
3    89
4    98
Name: temp, dtype: int64

In [15]:
cityTemp = {
    'City': ['HK','SG','KL'],
    'Temperature': [10,28,26]

}

cityTemp_df = pd.DataFrame(cityTemp)
cityTemp_df

  City  Temperature
0   HK           10
1   SG           28
2   KL           26

### Creating DataFrames from Python data

- A DataFrame can be created from different Python data structures like dictionaries, lists, and lists of dictionaries.

- You can take data that you already have in Python and convert it into a neat table using `pd.DataFrame(...)`

- The most common patterns are:
    
    - Dictionary of lists → columns as keys.

    - List of dictionaries → each dictionary is one row.

In [ ]:
import pandas as pd

# 1) Dictionary of lists
student_data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}

df_dict = pd.DataFrame(student_data)
print("DataFrame from dictionary of lists:")
df_dict

DataFrame from dictionary of lists:

  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

In [ ]:
# 2) List of dictionaries
student_list = [
    {"Student": "Aman", "Math": 85, "English": 88},
    {"Student": "Sara", "Math": 90, "English": 92},
    {"Student": "John", "Math": 78, "English": 80},
]

df_list = pd.DataFrame(student_list)
print("DataFrame from list of dictionaries:")
df_list

DataFrame from list of dictionaries:

  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

#### Mini-Activity:

> 1. Create a dictionary of lists for a small shop inventory: "`Item`", "`Price`", "`Quantity`".

> 2. Convert it into a DataFrame and print it.

> 3. Create a list of dictionaries for "`Employee`", "`Age`", "`Department`".

> 4. Convert that into a DataFrame and print it.

In [ ]:
# Dictionary of list
shop = {
    'Item':     ['shampoo','comb','juice'],
    'Price':    [45.00,5.40,1.30],
    'Quantity': [3,6,77]
    }

shopdf = pd.DataFrame(shop)
shopdf

      Item  Price  Quantity
0  shampoo   45.0         3
1     comb    5.4         6
2    juice    1.3        77

In [8]:
#List of disctionary

EMP = [
    {"Employee":101,"Age":45,"Department":"Python"},
    {"Employee":102,"Age":30,"Department":"MultiComp"},
    {"Employee":103,"Age":24,"Department":"SQL"},
]

empdf = pd.DataFrame(EMP)
empdf

   Employee  Age Department
0       101   45     Python
1       102   30  MultiComp
2       103   24        SQL

#### Helpful EDA tools (`value_counts`, `unique`, `duplicated`)

When exploring data (EDA = Exploratory Data Analysis)

- `value_counts()` counts how many times each value appears in a column.

- `unique()` shows unique values.

- `duplicated()` detects duplicate rows.

In [10]:
import pandas as pd

data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi", "Aman"],
    "Class": ["10A", "10A", "10B", "10B", "10A", "10A"]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
df

Original DataFrame:

  Student Class
0    Aman   10A
1    Sara   10A
2    John   10B
3   Priya   10B
4    Ravi   10A
5    Aman   10A

In [11]:
print("\nValue counts for Class:")
print(df["Class"].value_counts())

print("\nUnique students:")
print(df["Student"].unique())

print("\nDuplicated rows (True = duplicate):")
print(df.duplicated())

# Drop duplicates
df_unique = df.drop_duplicates()
print("\nDataFrame after dropping duplicates:")
print(df_unique)

Value counts for Class:
Class
10A    4
10B    2
Name: count, dtype: int64

Unique students:
['Aman' 'Sara' 'John' 'Priya' 'Ravi']

Duplicated rows (True = duplicate):
0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

DataFrame after dropping duplicates:
  Student Class
0    Aman   10A
1    Sara   10A
2    John   10B
3   Priya   10B
4    Ravi   10A

### Reading from and writing to CSV files

- `pd.read_csv()` reads data from a CSV file into a DataFrame.

-  `DataFrame.to_csv()` writes a DataFrame to a CSV file.

- CSV (Comma-Separated Values) is one of the most common formats for data.

- Pandas makes it very easy to load CSV files and save your results back to CSV.

#### Remember the previous method we used to create CSV files?

In [ ]:
# Let's create a sample CSV file first, then read it
sample_data = """Name,Department,Salary,Experience
Alice,Engineering,75000,3
Bob,Marketing,65000,5
Charlie,Engineering,80000,7
Diana,HR,60000,2
Eve,Marketing,70000,4"""

# Save this data to a CSV file
with open('employees.csv', 'w') as f:
    f.write(sample_data)

# Now let's read it back using pandas
employee_df = pd.read_csv('employees.csv')
print("Data loaded from CSV file:")
print(employee_df)

# Get basic information about our data
print("\nBasic info about our DataFrame:")
print(employee_df.info())

#### But we often do this in Data Science

In [6]:
import pandas as pd

# Create a small DataFrame
data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}
df = pd.DataFrame(data)

In [ ]:
# Save DataFrame to a CSV file (in the current directory)
csv_filename = "students_marks.csv"
df.to_csv(csv_filename, index=False)  # index=False avoids saving row numbers
print(f"DataFrame saved to {csv_filename}")

- Understand `index` = `True` or `False`

In [9]:
csv_filenameT = "students_marksTrue.csv"
df.to_csv(csv_filename, index= True) 

csv_filenameF = "students_marksFalse.csv"
df.to_csv(csv_filename, index= False)

In [10]:
df_loaded = pd.read_csv(csv_filenameT)
print("\nDataFrame loaded from CSV:")
print(df_loaded)

DataFrame loaded from CSV:
   Unnamed: 0 Student  Math  English
0           0    Aman    85       88
1           1    Sara    90       92
2           2    John    78       80

In [11]:
df_loaded = pd.read_csv(csv_filenameF)
print("\nDataFrame loaded from CSV:")
print(df_loaded)

DataFrame loaded from CSV:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

#### Mini-Activity:

> 1. Create your own DataFrame and save it as "my_data.csv".

> 2. Load it back using pd.read_csv() and compare it with the original.

> 3. Try saving with index=True (default) and see the difference.

>Think: Why might it be better to avoid saving the index sometimes?

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>3. Handling Data with Pandas
</h4> </div>

### Inspecting DataFrames (shape, head, info, describe)

Pandas provides methods like `head()`, `tail()`, `info()`, `describe()` and attributes like shape to quickly understand your data.

- These tools help you answer questions like:
 
    - How many rows and columns are there?
    
    - What are the column names and types?
    
    - What are basic statistics like mean, min, max?

In [12]:
import pandas as pd

data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi"],
    "Math": [85, 90, 78, 92, 65],
    "English": [88, 92, 80, 95, 70]
}

df = pd.DataFrame(data)

print("First 3 rows using head():")
print(df.head(3))

print("\nShape of the DataFrame (rows, columns):")
print(df.shape)

print("\nColumn names:")
print(df.columns)

print("\nInfo about DataFrame:")
print(df.info())

print("\nBasic statistics for numeric columns:")
print(df.describe())

First 3 rows using head():
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

Shape of the DataFrame (rows, columns):
(5, 3)

Column names:
Index(['Student', 'Math', 'English'], dtype='object')

Info about DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  5 non-null      object
 1   Math     5 non-null      int64
 2   English  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None

Basic statistics for numeric columns:
            Math    English
count   5.000000   5.000000
mean   82.000000  85.000000
std    10.931606  10.099505
min    65.000000  70.000000
25%    78.000000  80.000000
50%    85.000000  88.000000
75%    90.000000  92.000000
max    92.000000  95.000000

### Selecting columns and rows ([], .loc)

You often need to pick specific parts of a table:

    -   Only certain columns (e.g., "Math" and "English").

    -   Only certain rows (e.g., first 3 rows or a specific student).

- How do we target certain columns? or rows?

    - `df["col"]` selects a single column (Series).

    - `df[["col1", "col2"]]` selects multiple columns (DataFrame).

    - `.loc` selects by label (index name, column name).

In [ ]:
print("Original DataFrame:")
print(df)

print("\nSingle column (Math):")
print(df["Math"])

print("\nMultiple columns (Student and English):")
print(df[["Student", "English"]])


print("\nRow by label using loc (assuming default index):")
print(df.loc[0])  # index label 0

Original DataFrame:
  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80
3   Priya    92       95
4    Ravi    65       70

Single column (Math):
0    85
1    90
2    78
3    92
4    65
Name: Math, dtype: int64

Multiple columns (Student and English):
  Student  English
0    Aman       88
1    Sara       92
2    John       80
3   Priya       95
4    Ravi       70

Row by position using iloc (first row):
Student    Aman
Math         85
English      88
Name: 0, dtype: object

Rows 1 and 2 by position using iloc:
  Student  Math  English
1    Sara    90       92
2    John    78       80

Row by label using loc (assuming default index):
Student    Aman
Math         85
English      88
Name: 0, dtype: object

#### Mini-Activity:

> 1. Select only the "Student" column and print it.

> 2. Select both "Math" and "English" columns together.

> 3. Print the third row using .iloc.

> 4. Try setting a custom index (e.g., "Student") using df.set_index("Student") and then select rows with .loc.

#### Adding and modifying columns

You can add new columns or modify existing ones using simple operations (vectorized operations) on columns.

> These are often called Calculated Columns

- You often want to:

    - Compute total marks.

    - Compute percentage.

    - Create new features for ML (e.g., BMI = weight / height^2).

In [ ]:
data = {
    "Student": ["Aman", "Sara", "John"],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}

df = pd.DataFrame(data)
df

  Student  Math  English
0    Aman    85       88
1    Sara    90       92
2    John    78       80

In [ ]:
# Add a new column Total = Math + English
df["Total"] = df["Math"] + df["English"]

# Add a new column Average
df["Average"] = df["Total"] / 2

print("DataFrame with new columns:")
print(df)

## Handling missing data (isna, dropna, fillna)

Real-world data is often messy. Some entries are missing, like:

- Unknown age of a user.

- Missing salary information.

We use these methods to deal with this:
1. Missing values are often represented as NaN (Not a Number).

2. isna() and isnull() detect missing values.

3. dropna() removes missing values.

4. fillna() replaces missing values with a chosen value.

In [50]:
# there are missing values in this data
import pandas as pd
import numpy as np  # for NaN

data = {
    "Student": ["Aman", "Sara", "John", "Priya"],
    "Math": [85, 90, np.nan, 92],
    "English": [88, np.nan, 80, 95]
}

df = pd.DataFrame(data)

print("Original DataFrame with missing values:")
df

Original DataFrame with missing values:

  Student  Math  English
0    Aman  85.0     88.0
1    Sara  90.0      NaN
2    John   NaN     80.0
3   Priya  92.0     95.0

In [36]:
print("\nWhere are values missing (True = missing)?")
print(df.isna())

# Drop rows with any missing value
df_drop = df.dropna()
print("\nAfter dropping rows with missing values:")
print(df_drop)

# Fill missing values
df_fill = df.fillna(0)
print("\nAfter filling missing values with 0:")
print(df_fill)

Original DataFrame with missing values:
  Student  Math  English
0    Aman  85.0     88.0
1    Sara  90.0      NaN
2    John   NaN     80.0
3   Priya  92.0     95.0

Where are values missing (True = missing)?
   Student   Math  English
0    False  False    False
1    False  False     True
2    False   True    False
3    False  False    False

After dropping rows with missing values:
  Student  Math  English
0    Aman  85.0     88.0
3   Priya  92.0     95.0

After filling missing values with 0:
  Student  Math  English
0    Aman  85.0     88.0
1    Sara  90.0      0.0
2    John   0.0     80.0
3   Priya  92.0     95.0

> Do we always fill the missing values with 0?

In data science, missing data isn't just an inconvenience - it's information. 

The fact that data is missing might tell you something important. 

- For example, 
    - if wealthy customers are less likely to report their income, 
    - filling missing income with average values would underestimate wealthy customers' spending patterns.

 fillna(0) replaces all missing values with zero, which can introduce bias when zero isn't a meaningful or neutral value for the missing data.

##### Various methods that can be used:

- Zero Filling - Replace missing values with zero, useful for counts or amounts where zero is meaningful
`df.fillna(0)`

- **Drop Rows** - Remove incomplete records when missing data is minimal
`df.dropna()`

- **Mean** Imputation - Fill with average value, good for normally distributed numerical data
`df.fillna(df.mean())`

- **Median** Imputation - Use middle value, robust for skewed data with outliers
`df.fillna(df.median())`

- **Mode** Imputation - Replace with most frequent value, ideal for categorical data
`df.fillna(df.mode().iloc[0])`

- **Forward** Fill - Carry last valid value forward, perfect for time series data
`df.fillna(method='ffill')`

- **Backward** Fill - Use next valid value, suitable for time series with recent data
`df.fillna(method='bfill')`

Let's implement some common methods used

In [64]:
# calculate the average 
# .mean() .median() .mode()

df_Math_mean = df["Math"].mean()

print("\nMean is: ")
print(df_Math_mean)

df_Mean_filled = df.copy()
df_Mean_filled["Math"] = df["Math"].fillna(df_Math_mean)
print(df_Mean_filled)

# ---------------

df_Math_median = df["Math"].median()

print("\nMedian is: ")
print(df_Math_median)

df_Median_filled = df.copy()
df_Median_filled["Math"] = df["Math"].fillna(df_Math_median)
print(df_Median_filled)

# --------------------------

df_Math_mode = df["Math"].mode()[0] # Get first mode
print("\nMode is: ")
print(df_Math_mode)

df_Mode_filled = df.copy()
df_Mode_filled["Math"] = df["Math"].fillna(df_Math_mode)
print(df_Mode_filled)

print("\ndf is still")
df

Mean is:
89.0
  Student  Math  English
0    Aman  85.0     88.0
1    Sara  90.0      NaN
2    John  89.0     80.0
3   Priya  92.0     95.0

Median is:
90.0
  Student  Math  English
0    Aman  85.0     88.0
1    Sara  90.0      NaN
2    John  90.0     80.0
3   Priya  92.0     95.0

Mode is:
85.0
  Student  Math  English
0    Aman  85.0     88.0
1    Sara  90.0      NaN
2    John  85.0     80.0
3   Priya  92.0     95.0

df is still

  Student  Math  English
0    Aman  85.0     88.0
1    Sara  90.0      NaN
2    John   NaN     80.0
3   Priya  92.0     95.0

In [53]:
# Using different methods for different columns
strategic_fill = df.copy()
fill_strategy = {
    'Math': df['Math'].median(),        # Use median for age
    'English': df['English'].mean()     # Use mean for salary 
}

strategic_fill = strategic_fill.fillna(fill_strategy)
print("\nAfter strategic filling (different methods per column):")
print(strategic_fill)

After strategic filling (different methods per column):
  Student  Math    English
0    Aman  85.0  88.000000
1    Sara  90.0  87.666667
2    John  90.0  80.000000
3   Priya  92.0  95.000000

In [54]:
strategic_fill['English'] = strategic_fill['English'].round(2)

print("\nAfter strategic filling and rounding to 2 decimal places:")
print(strategic_fill)

After strategic filling and rounding to 2 decimal places:
  Student  Math  English
0    Aman  85.0    88.00
1    Sara  90.0    87.67
2    John  90.0    80.00
3   Priya  92.0    95.00

In [59]:
# another way is to do this:
strategic_fill2 = df.copy()

fill_strategy2 = {
    'Math': round(df['Math'].median(), 2),        # Use median for age
    'English': round(df['English'].mean(), 2)     # Use mean for salary 
}

strategic_fill2 = strategic_fill2.fillna(fill_strategy2)
strategic_fill2

  Student  Math  English
0    Aman  85.0    88.00
1    Sara  90.0    87.67
2    John  90.0    80.00
3   Priya  92.0    95.00

#### Mini-Activity:

> 1. Create a DataFrame with some None or np.nan values.

> 2. Use isna() to see which entries are missing.

> 3. Use dropna() to remove rows with missing values.

> 4. Use fillna() to fill missing values with mean of the column (hint: df["Math"].mean())

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h4>4. Filtering, Aggregation and Grouping
</h4> </div>

### Filtering rows with conditions (boolean indexing)

- Filtering lets you keep only the rows you care about.
- Example: students whose Math marks are greater than 80, or products whose price is less than 100.

Boolean indexing is selecting rows where a condition is True, such as `df["Math"] > 80`.

In [ ]:
print("Original DataFrame:")
print(df)

# Filter students with Math > 80
high_math = df[df["Math"] > 80]
print("\nStudents with Math > 80:")
print(high_math)

# Combine conditions: Math > 80 AND English > 85
high_both = df[(df["Math"] > 80) & (df["English"] > 85)]
print("\nStudents with Math > 80 AND English > 85:")
print(high_both)

#### Mini-Activity:

> 1. Filter students with English marks >= 90.

> 2. Filter students with Math marks between 70 and 90 (use > and <).

> 3. Try filtering with OR: students with Math < 70 OR English < 75.

> 4. Count how many students match a filter using len(filtered_df).

### Sorting data (sort_values, sort_index)


Sorting helps you see data in order, like:

- Highest to lowest marks.

- Alphabetical order of students.

- `sort_values()` sorts rows based on one or more column values.

- `sort_index()` sorts rows based on the row index.

In [ ]:
data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi"],
    "Math": [85, 90, 78, 92, 65],
    "English": [88, 92, 80, 95, 70]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

In [ ]:
# Sort by Math marks ascending
sorted_math = df.sort_values(by="Math")
print("\nSorted by Math (ascending):")
print(sorted_math)

# Sort by English marks descending
sorted_english_desc = df.sort_values(by="English", ascending=False)
print("\nSorted by English (descending):")
print(sorted_english_desc)

### Aggregation

- Sometimes we need to find aggregate values of various columns.
    - Aggregation functions like sum(), mean(), min(), max() combine many values into one.

In [70]:
data = {
    "Student": ["Aman", "Sara", "John", "Priya", "Ravi", "Anita"],
    "Class": ["10A", "10A", "10B", "10B", "10A", "10B"],
    "Math": [85, 90, 78, 92, 65, 88],
    "English": [88, 92, 80, 95, 70, 85]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
  Student Class  Math  English
0    Aman   10A    85       88
1    Sara   10A    90       92
2    John   10B    78       80
3   Priya   10B    92       95
4    Ravi   10A    65       70
5   Anita   10B    88       85

In [71]:
# Overall average marks
print("\nOverall average Math and English:")
print(df[["Math", "English"]].mean())

Overall average Math and English:
Math       83.0
English    85.0
dtype: float64

Average marks by Class:
       Math    English
Class
10A    80.0  83.333333
10B    86.0  86.666667

#### Mini-Activity:

> 1. Compute the total Math marks using .sum().

#### Combining DataFrames with `merge`

`pd.merge()` combines two DataFrames based on one or more common columns (keys), similar to SQL joins.

- Sometimes your data is split across tables, for example:

    - One table with student info.

    - Another table with their marks.

In [79]:
# Student info
students = {
    "StudentID": [1, 2, 3],
    "Student": ["Aman", "Sara", "John"]
}
df_students = pd.DataFrame(students)

# Marks info
marks = {
    "StudentID": [1, 2, 3],
    "Math": [85, 90, 78],
    "English": [88, 92, 80]
}
df_marks = pd.DataFrame(marks)


print("Students DataFrame:")
print(df_students)

print("\nMarks DataFrame:")
print(df_marks)

# Merge on StudentID
df_merged = pd.merge(df_students, df_marks, on="StudentID")
print("\nMerged DataFrame:")
print(df_merged)

Students DataFrame:
   StudentID Student
0          1    Aman
1          2    Sara
2          3    John

Marks DataFrame:
   StudentID  Math  English
0          1    85       88
1          2    90       92
2          3    78       80

Merged DataFrame:
   StudentID Student  Math  English
0          1    Aman    85       88
1          2    Sara    90       92
2          3    John    78       80

### Concatenating DataFrames with `pd.concat`

`pd.concat()` stacks DataFrames either vertically (one below another) or horizontally (side by side).

In [74]:
# Concatenate vertically (one below another)
df_all = pd.concat([df_marks, df_students], ignore_index=False)
print("\nConcatenated DataFrame (Marks + Students):")
print(df_all)

Concatenated DataFrame (Marks + Students):
   StudentID  Math  English Student
0          1  85.0     88.0     NaN
1          2  90.0     92.0     NaN
2          3  78.0     80.0     NaN
0          1   NaN      NaN    Aman
1          2   NaN      NaN    Sara
2          3   NaN      NaN    John

In [75]:
# Data for January
data_jan = {
    "Day": [1, 2, 3],
    "Sales": [100, 150, 200]
}
df_jan = pd.DataFrame(data_jan)

# Data for February
data_feb = {
    "Day": [1, 2, 3],
    "Sales": [120, 160, 210]
}
df_feb = pd.DataFrame(data_feb)

print("January DataFrame:")
print(df_jan)

print("\nFebruary DataFrame:")
print(df_feb)

# Concatenate vertically (one below another)
df_all = pd.concat([df_jan, df_feb], ignore_index=True)
print("\nConcatenated DataFrame (Jan + Feb):")
print(df_all)

January DataFrame:
   Day  Sales
0    1    100
1    2    150
2    3    200

February DataFrame:
   Day  Sales
0    1    120
1    2    160
2    3    210

Concatenated DataFrame (Jan + Feb):
   Day  Sales
0    1    100
1    2    150
2    3    200
3    1    120
4    2    160
5    3    210

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
</h1> </div>

<div class="alert alert-block alert-warning">
    <b><font size="5"> Mini Project </font> </b>
</div>

### Mini Project: Streaming App Data Detective

- You are a junior data scientist at a streaming app (like Netflix).
- Your manager gives you a tiny dataset of how a few users watched and rated some movies.

- Your job: clean the data, understand it, and find “binge-worthy” movies using only basic pandas skills.

You have a table with the following columns:

1. User – Name of the user

2. Movie – Movie name

3. Genre – Movie genre (e.g., "Drama", "Sci-Fi")

4. WatchTimeMinutes – How many minutes the user watched

5. Rating – How much the user liked the movie (from 1.0 to 5.0)

Analyse the data and answer these questions using pandas:

Q1: After cleaning, what is the average Rating of all watches?

Q2: How many watches are “binge-worthy” (watched at least 90 minutes and rating ≥ 4.0)?

Q3: How many watches are marked as HighRating (Rating ≥ 4.0)?

Q4: Among the binge-worthy watches, what is the average WatchTimeMinutes?

In [ ]:
# A small, slightly messy dataset

data = {
    "User": ["Aman", "Sara", "John", "Priya", "Ravi", "Anita", "Kabir", "Meera", "Zain", "Noor"],
    "Movie": ["Inception", "Barbie", "Avatar", "Oppenheimer", "Cars","Joker", "Interstellar", "Frozen", "Dune", "Coco"],
    "Genre": ["Sci-Fi", "Drama", "Sci-Fi", "Drama", "Animation","Drama", "Sci-Fi", "Animation", "Sci-Fi", "Animation"],
    "WatchTimeMinutes": [95, 120, 45, 60, np.nan, 80, 130, 50, 110, np.nan], # Ravi has missing watch time
    "Rating": [4.5, np.nan, 3.0, 5.0, 4.0, 2.5, 4.8, 3.5, np.nan, 4.2] # Sara did not give a rating
}

df = pd.DataFrame(data)

print("=== ORIGINAL DATA ===")
print(df)

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
</h1> </div>

<div style="background-color: lightgreen; color: black; padding: 30px;">
    <h4> Mini Project Solutions
        
</h4> </div>

In [ ]:
import pandas as pd
import numpy as np

# 0) Create a bigger streaming dataset with some missing values
data = {
    "User": ["Aman", "Sara", "John", "Priya", "Ravi", "Anita", "Kabir", "Meera", "Zain", "Noor"],
    "Movie": [
        "Inception", "Barbie", "Avatar", "Oppenheimer", "Cars",
        "Joker", "Interstellar", "Frozen", "Dune", "Coco"
    ],
    "Genre": [
        "Sci-Fi", "Drama", "Sci-Fi", "Drama", "Animation",
        "Drama", "Sci-Fi", "Animation", "Sci-Fi", "Animation"
    ],
    "WatchTimeMinutes": [95, 120, 45, 60, np.nan, 80, 130, 50, 110, np.nan],
    "Rating": [4.5, np.nan, 3.0, 5.0, 4.0, 2.5, 4.8, 3.5, np.nan, 4.2]
}

df = pd.DataFrame(data)

print("=== ORIGINAL DATA ===")
print(df)

# 1) Inspect the data
print("\n=== STEP 1: INSPECT THE DATA ===")
print("\nFirst 5 rows:")
print(df.head())  # look at top rows

print("\nShape (rows, columns):", df.shape)  # dataset size

print("\nColumn names:")
print(df.columns.tolist())  # list of column names

print("\nBasic info:")
print(df.info())  # types and non-null counts

print("\nBasic statistics for numeric columns:")
print(df.describe())  # summary stats

# 2) Check missing values
print("\n=== STEP 2: CHECK MISSING VALUES ===")
print("\nMissing values per column:")
print(df.isna().sum())  # count NaNs in each column

# 3) Fill missing values (simple mean strategy)
print("\n=== STEP 3: FILL MISSING VALUES ===")
df_filled = df.copy()  # work on a copy

watch_mean = df_filled["WatchTimeMinutes"].mean()  # mean watch time
rating_mean = df_filled["Rating"].mean()           # mean rating

df_filled["WatchTimeMinutes"] = df_filled["WatchTimeMinutes"].fillna(watch_mean)  # fill watch time
df_filled["Rating"] = df_filled["Rating"].fillna(rating_mean)                    # fill rating

print("\nAfter filling missing values:")
print(df_filled)

print("\nMissing values per column (after filling):")
print(df_filled.isna().sum())

# 4) Add new columns (features)
print("\n=== STEP 4: ADD NEW COLUMNS ===")
df_filled["WatchHours"] = df_filled["WatchTimeMinutes"] / 60        # minutes -> hours
df_filled["RatingPercent"] = df_filled["Rating"] * 20               # 1–5 -> 20–100
df_filled["HighRating"] = df_filled["Rating"] >= 4.0                # True if rating >= 4.0

print("\nData with new columns:")
print(df_filled)

# 5) Filter binge-worthy watches (WatchTimeMinutes >= 90 AND Rating >= 4.0)
print("\n=== STEP 5: FILTER BINGE-WORTHY WATCHES ===")
binge_worthy = df_filled[
    (df_filled["WatchTimeMinutes"] >= 90) &
    (df_filled["Rating"] >= 4.0)
]

print("\nBinge-worthy watches (WatchTimeMinutes >= 90 AND Rating >= 4.0):")
print(binge_worthy[["User", "Movie", "Genre", "WatchTimeMinutes", "Rating"]])

# 6) Answer the 5 questions
print("\n=== STEP 6: ANSWER THE QUESTIONS ===")

# Q1: Average Rating after cleaning
q1_avg_rating = df_filled["Rating"].mean()
print(f"Q1) Average Rating after cleaning: {q1_avg_rating:.2f}")

# Q2: How many binge-worthy watches?
q2_binge_count = len(binge_worthy)
print(f"Q2) Number of binge-worthy watches: {q2_binge_count}")


# Q3: How many watches are HighRating (Rating >= 4.0)?
q4_high_count = df_filled["HighRating"].sum()  # True counts as 1
print(f"Q4) Number of HighRating watches (Rating >= 4.0): {q4_high_count}")

# Q4: Among binge-worthy watches, what is the average WatchTimeMinutes?
if len(binge_worthy) > 0:
    q5_avg_binge_time = binge_worthy["WatchTimeMinutes"].mean()
    print(f"Q5) Average WatchTimeMinutes for binge-worthy watches: {q5_avg_binge_time:.2f}")
else:
    print("Q5) No binge-worthy watches found, so average watch time cannot be computed.")