In [4]:
import pandas as pd

In [5]:
#import dataset
df = pd.read_csv("iris.csv")

In [6]:
# run the methods we learnt value count,unique, on species column
print("Value count: ")
df["species"].value_counts()

Value count:

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [7]:
print("Unique: ")
df["species"].unique()

Unique:

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [8]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
# create a new df but without the species column
#             (target the element,direction of target)
new_df=df.drop("species",axis=1)
### or ###
#new_df=df.drop(columns="species")

In [10]:
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [11]:
#store in column
species1 = df['species']
print(species1.head())
#its a series
type(species1)

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

pandas.core.series.Series

In [ ]:
#instead
#use one label only if more, use list[]
species2 = df.drop(['sepal_length','sepal_width','petal_length','petal_width'],axis=1)
species2.head()
#its a dataframe
print(type(species2))

<class 'pandas.core.frame.DataFrame'>

In [13]:


# kalau nak targetbanyk column pakai list []
sepalarea = new_df[['sepal_length','sepal_width']]
sepalarea.head()

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [14]:
#calculated column
# create variable to store first, then do the calculation
sepalarea = new_df['sepal_length'] * new_df['sepal_width']
           #df,target object, calc, df,target obj
sepalarea.head()

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [15]:
#display the sepal area as a new column in the new_df 
new_df['sepal_area'] = sepalarea

new_df.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_area
0           5.1          3.5           1.4          0.2       17.85
1           4.9          3.0           1.4          0.2       14.70
2           4.7          3.2           1.3          0.2       15.04
3           4.6          3.1           1.5          0.2       14.26
4           5.0          3.6           1.4          0.2       18.00

In [16]:
#for petal area
petalarea = new_df['petal_length'] * new_df['petal_width']
petalarea.head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [17]:
new_df['petal_area']=petalarea
new_df.head(50)

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,0.42
7,5.0,3.4,1.5,0.2,17.00,0.30
8,4.4,2.9,1.4,0.2,12.76,0.28
9,4.9,3.1,1.5,0.1,15.19,0.15
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
12,4.8,3.0,1.4,0.1,14.40,0.14
13,4.3,3.0,1.1,0.1,12.90,0.11
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
17,5.1,3.5,1.4,0.3,17.85,0.42
18,5.7,3.8,1.7,0.3,21.66,0.51
19,5.1,3.8,1.5,0.3,19.38,0.45
20,5.4,3.4,1.7,0.2,18.36,0.34
21,5.1,3.7,1.5,0.4,18.87,0.60
22,4.6,3.6,1.0,0.2,16.56,0.20
23,5.1,3.3,1.7,0.5,16.83,0.85
24,4.8,3.4,1.9,0.2,16.32,0.38
25,5.0,3.0,1.6,0.2,15.00,0.32
26,5.0,3.4,1.6,0.4,17.00,0.64
27,5.2,3.5,1.5,0.2,18.20,0.30
28,5.2,3.4,1.4,0.2,17.68,0.28
29,4.7,3.2,1.6,0.2,15.04,0.32
30,4.8,3.1,1.6,0.2,14.88,0.32
31,5.4,3.4,1.5,0.4,18.36,0.60
32,5.2,4.1,1.5,0.1,21.32,0.15
33,5.5,4.2,1.4,0.2,23.10,0.28
34,4.9,3.1,1.5,0.1,15.19,0.15
35,5.0,3.2,1.2,0.2,16.00,0.24
36,5.5,3.5,1.3,0.2,19.25,0.26
37,4.9,3.1,1.5,0.1,15.19,0.15
38,4.4,3.0,1.3,0.2,13.20,0.26
39,5.1,3.4,1.5,0.2,17.34,0.30
40,5.0,3.5,1.3,0.3,17.50,0.39
41,4.5,2.3,1.3,0.3,10.35,0.39
42,4.4,3.2,1.3,0.2,14.08,0.26
43,5.0,3.5,1.6,0.6,17.50,0.96
44,5.1,3.8,1.9,0.4,19.38,0.76
45,4.8,3.0,1.4,0.3,14.40,0.42
46,5.1,3.8,1.6,0.2,19.38,0.32
47,4.6,3.2,1.4,0.2,14.72,0.28
48,5.3,3.7,1.5,0.2,19.61,0.30
49,5.0,3.3,1.4,0.2,16.50,0.28

In [19]:
#filter out parts of dataframe using pandas

#only part of iris without_species value of sepal_area is >14

largeFlower = new_df[new_df['sepal_area'] >15 ] 
largeFlower.head(10)

largeFlower.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  120 non-null    float64
 1   sepal_width   120 non-null    float64
 2   petal_length  120 non-null    float64
 3   petal_width   120 non-null    float64
 4   sepal_area    120 non-null    float64
 5   petal_area    120 non-null    float64
dtypes: float64(6)
memory usage: 6.6 KB

In [20]:
largeFlower.to_csv('largeFlower.csv')

In [ ]:
largeFlower.head()

,sepal_length,sepal_width,petal_length,petal_width,sepalarea,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,17.85,0.28
2,4.7,3.2,1.3,0.2,15.04,15.04,0.26
4,5.0,3.6,1.4,0.2,18.00,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,15.64,0.42

In [ ]:
#how many flowers have a sepal area exactly 16
Flower16 = new_df[new_df['sepalarea']==16]

Flower16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  1 non-null      float64
 1   sepal_width   1 non-null      float64
 2   petal_length  1 non-null      float64
 3   petal_width   1 non-null      float64
 4   sepalarea     1 non-null      float64
 5   sepal_area    1 non-null      float64
 6   petal_area    1 non-null      float64
dtypes: float64(7)
memory usage: 64.0 bytes

In [ ]:
#sorting values by something
sortedLargerFlowers = largeFlower.sort_values(by='sepal_area',ascending=False)
largestFlower = sortedLargerFlowers.head(1)
largestFlower

,sepal_length,sepal_width,petal_length,petal_width,sepalarea,sepal_area,petal_area
131,7.9,3.8,6.4,2.0,30.02,30.02,12.8

In [ ]:
areaoflargestflower = largestFlower['sepal_area']
areaoflargestflower

131    30.02
Name: sepal_area, dtype: float64

In [ ]:
areaoflargestflower = sortedLargerFlowers['sepal_area'].min()
areaoflargestflower