Data
- qualitative - 
    -things, and thieir attributes

- quantitative -
    - sizes on quantities

-Tables,something like columnss,
    -row - stores data in unumbers

- Two things:
- Central Tendency- try to identify the middle/average/common value
-Spread - How much the data is spread around

In [2]:
mean = (50+47+51+49+47)/5
mean

48.8

In [3]:
import numpy as np

x = [20,80,130,50,5,5]
sorted(x)
print(x)
x_array=np.array(x)
median_value = np.median(x)
print(median_value)

[20, 80, 130, 50, 5, 5]
35.0

In [4]:
nums = [20,89,130,50,90,80]
nums.sort()
print('sorted list nums: ',nums)
#if the number is odd,length/2
#3/2 = 1.5

mean = sum(nums)/5
print(f'print mean of the number{mean}')
if len(nums) %2 ==0:
    #if length is even 2nd position + 3rd position
    median = (nums[len(nums)//2] + nums[len(nums)//2 - 1] ) /2
    print(median)
else:
#if the length is odd
    median = nums[len(nums)//2]
    print(median)

sorted list nums:  [20, 50, 80, 89, 90, 130]
print mean of the number91.8
84.5

In [5]:
nums

[20, 50, 80, 89, 90, 130]

In [6]:
(len(nums)/2) -1

2.0

In [7]:
#nums 6 ---2

#actual median
(nums[2] + nums [3]) /2

84.5

In [8]:
import pandas as pd
iris = pd.read_csv('C:\\Users\\user\\Desktop\\aiml\\Daily-Practice\\Day 7\\iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
#aggregate (bring into one place)
df = iris[['petal_length','petal_width', 'sepal_length',	'sepal_width']]
print('the mean is: \n',df.mean())
print('the median is: \n',df.median())
print('the mode is: \n',df.mode())
#buat untuk semua

the mean is:
 petal_length    3.758667
petal_width     1.198667
sepal_length    5.843333
sepal_width     3.054000
dtype: float64
the median is:
 petal_length    4.35
petal_width     1.30
sepal_length    5.80
sepal_width     3.00
dtype: float64
the mode is:
    petal_length  petal_width  sepal_length  sepal_width
0           1.5          0.2           5.0          3.0

### how to sort a list manually

#create a function that takes a list and returns a sorted list
- only allowed to google, when u have struggled for at least 1 hour 
- use google, create a different program, based on the same, different variable name and understand whats happening
- u are not allowed to use list methods or libraries
-can use numpy but not the methods like sort

bonus point to give 2 algorithm to sort

In [12]:
SL = iris['petal_length']
SL.mode()

0    1.5
Name: petal_length, dtype: float64

In [16]:
x = {
    'a': [1,2,3,4,5,6,7],
    'b': [3,3,4,5,5,5,6]
}
xdf = pd.DataFrame(x)
xdf.head()

   a  b
0  1  3
1  2  3
2  3  4
3  4  5
4  5  5

In [18]:
xdf['b'].mode()

0    5
Name: b, dtype: int64

- Spread of data

- variance 
- standard deviation

In [ ]:
xdf['b'].var() #methof for variance
xdf['b'].std() #method for standard deviation
xdf['b'].count() 
xdf.count()

np.float64(1.1338934190276817)

In [ ]:
df.describe() #Statisticws onfo related to a dataframe

       petal_length  petal_width  sepal_length  sepal_width
count    150.000000   150.000000    150.000000   150.000000
mean       3.758667     1.198667      5.843333     3.054000
std        1.764420     0.763161      0.828066     0.433594
min        1.000000     0.100000      4.300000     2.000000
25%        1.600000     0.300000      5.100000     2.800000
50%        4.350000     1.300000      5.800000     3.000000
75%        5.100000     1.800000      6.400000     3.300000
max        6.900000     2.500000      7.900000     4.400000

In [24]:
mean = (5+20+50+80+130)/5
mean

57.0

In [26]:
variance = (((5-57)**2)+((20-57)**2)+((50-57)**2)+((80-57)**2)+((130-57)**2))/5
variance

1996.0

In [ ]:
import numpy as np
class1 = np.array([50,47,51,49,47])
class2 = np.array([5,20,50,80,130])

mean = sum(class2)/len(class2)
print("mean is; ",mean)

#variance = sum((class2-mean)**2)/len(class2)
sumofdifference = np.array([((class2 - mean)**2)])
variance2 = (sumofdifference.sum())/len(class2)
print('variance is:',variance2)

mean is;  57.0
variance is: 1996.0

In [ ]:
#cara lain
b= np.array([5,20,50,80,130]) - mean
e = b**2

sum(e)/5

np.float64(1996.0)

In [41]:
std2 = variance**0.5

print(std2)

44.67661580737735

In [42]:
x = {
    'b' : [3,3,3,4,5,5,5,6]
}

xdf = pd.DataFrame(x)
xdf['b'].mode()[0]
xdf['b'].mode()[1]

np.int64(5)