In [20]:

import matplotlib.pyplot as plt

In [21]:
import seaborn as sns

In [22]:
df = sns.load_dataset('tips')
df.head()

#numerical - numbers/float/int

# categorical - in which we have classes of somethings

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [33]:
mean_bill = df['total_bill'].mean()
print(mean_bill)

19.78594262295082

In [34]:

# how many unique values do you see in all the columns, and what can you infer 
# what is the average bill amount
#whar is the average tips
# just find some new insights

In [ ]:
mean_tips = df['tip'].mean()
print(mean_tips)

2.99827868852459

In [ ]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [36]:
print(df['time'].unique())
print(df['size'].unique())
print(df['day'].unique())

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']
[2 3 4 1 6 5]
['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [ ]:
df['total_bill'].__len__()

244

In [ ]:
df['total_bill'].value_counts()

total_bill
13.42    3
21.01    2
20.69    2
10.33    2
10.34    2
        ..
29.03    1
27.18    1
22.67    1
17.82    1
18.78    1
Name: count, Length: 229, dtype: int64

In [30]:
# check how many rich or generous people come to our restaurant

# what is the size of rich or high class people visiting a place to buy 

# max of the total bill

df['total_bill'].max()

# values for tips

df['tip'].max()

dftips= df['tip']
dftips

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [ ]:
x.unique()

NameError: name 'x' is not defined

In [ ]:
x.value_counts()

In [ ]:
x =df['size'].unique()
y =df['size'].value_counts()

plt.bar(x,y)

In [ ]:
y = df['size'].value_counts()

In [ ]:
y = df['size'].value_counts()
x = df['size'].unique()

sns.barplot(x=x,y=y)

In [ ]:
seriestime = df['time'].value_counts()
seriestime

In [ ]:
seriestime['Dinner']

In [ ]:
seriestime.index
type(x)

In [ ]:
sns.histplot(df, x='size')

plt.title("Data Distributed eith KDE")
plt.xlabel("values")
plt.ylabel("Frequency")
plt.show()

In [ ]:

sns.histplot(df, x='tip')

plt.title("Data Distributed eith KDE")
plt.xlabel("values")
plt.ylabel("Frequency")
plt.show()

In [ ]:
sns.histplot(df, x='time')

plt.title("Data Distributed eith KDE")
plt.xlabel("values")
plt.ylabel("Frequency")
plt.show()

In [ ]:
sns.histplot(df, x='total_bill')

plt.title("Data Distributed eith KDE")
plt.xlabel("bill")
plt.ylabel("Frequency")
plt.show()

In [ ]:
sns.histplot(df, x='smoker')

In [ ]:
# Prediction - healthcare, cancer prediction-- xray
# data -

In [ ]:
sns.histplot(df, x='sex')

In [ ]:
sns.histplot(df, x='smoker')

Distribution 
- how the frequency of something is distributed. 
- if u take a **sample size** of 100 people:

- I want to know how tall the people of Kuala Lumpur are, ages between 18 to 45

- selecting a sample size:

## AI ETHICS ##

- data privacy - if the data is safe with the researchers, anonymity
- data transparency - how are you using the data

In [ ]:
data = {
    'name': ['idrees','hazirah','athirah','mel','nazri','ibrahim','amin'],
    'age': [29,24,31,27,20,18,27],
    'height':[185,152,163,162,164,168,168],
    'gender':['m','f','f','f','m','m','m'],
    'ethnicity':['kashmiri','malay','malay','malay','malay','malay','malay']
}

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
sns.histplot(data = df, x= 'height', bins=3, kde=True) # bins is like partition of the bars

In [ ]:
malay = df[df['ethnicity'] == 'malay']
print(malay)

In [ ]:
female = df[df['gender'] == 'f']
print(female)

In [ ]:
malayOver21 = df[   (df['ethnicity'] == 'malay') & (df['age'] >= 21)] 
print(malayOver21)

**EXERCISE**

In [ ]:
tips_df = sns.load_dataset('tips')
tips_df.head()

In [ ]:
# create these dataframe
# only male 
#tips above 6 dollars
#smokers dining on sunday

male_df = tips_df[ tips_df['sex'] == 'Male']
male_df

In [ ]:
above6d_df = tips_df[ tips_df['tip'] > 6 ]
above6d_df

In [ ]:
smoker_sunday = tips_df[   (tips_df['smoker'] == 'Yes') & (tips_df['day'] == 'Sun') & (tips_df['time']=='Dinner')] 
smoker_sunday

Checking the distribution of data in our dataset

- or how many data points there are for male and female

- how many for each ethnicity etc

we study distributions on ML because the class distribnutions outputs of AI Models 

-a simple example:
Case study:

US - security, aprogram that screen criminals based on racial profiling